<p>Hi! As you start coding in the next lesson, you will notice that you get an error with `useEffect` conditionals and how that's not allowed.</p><p>You are getting that error as we are not wrapping <code>useEffect</code> inside a function. To fix that error, you can wrap the code inside a function and not make `useEffect` async.</p><p><br></p><pre class="prettyprint linenums">useEffect(() =&gt; {
async function setCoffeeStoresByLocation() {
      if (latLong) {
        // code
    }
}

setCoffeeStoresByLocation();
},[latLong])</pre><p><br></p><p>We will fix the above code in a future lesson as well but latest version of Next.js enforces us to fix it right away!</p><p><br></p>