<p>Thanks to a student: <a href="https://www.udemy.com/user/chris-124/" rel="noopener noreferrer" target="_blank">Chris Davis</a> that pointed the following out 👏:<br><br>You will notice that after we apply the modal styling, <code>onRequestClose={() =&gt; router.back()}</code> will stop working. Here is what the <a href="https://reactcommunity.org/react-modal/" rel="noopener noreferrer" target="_blank">React-modal docs</a> says about that:<br><br><code>onRequestClose={ handleRequestCloseFunc <em>/* Function that will be run when the modal is requested</em> <em>to be closed (either by clicking on overlay or pressing ESC).</em> <em>Note: It is not called if isOpen is changed by other means. */</em>}</code></p><p><br></p><p>This led Chris to take a look at the overlay CSS class which is missing height and width properties:</p><p><br></p><pre class="prettyprint linenums">.overlay {&nbsp; 
  top: 0;&nbsp; 
  left: 0;&nbsp; 
  right: 0;&nbsp; 
  bottom: 0;
}</pre><p><br></p><p>Once I added those properties, he was back in business. Hope this helps someone! 😊</p><p><br></p><pre class="prettyprint linenums">.overlay {&nbsp; 
  top: 0;&nbsp; 
  left: 0;&nbsp; 
  right: 0;&nbsp; 
  bottom: 0;&nbsp; 
  width: 100%;&nbsp; 
  height: 100vh;
}</pre>