<p>In the next lesson, when we use an anchor tag you might get the following error in your editor:<br></p><p><code>Do not use an `&lt;a&gt;` element to navigate to `/`. Use `&lt;Link /&gt;` from `next/link` instead. See: https://nextjs.org/docs/messages/no-html-link-for-pageseslint</code><a href="https://nextjs.org/docs/messages/no-html-link-for-pages" rel="noopener noreferrer" target="_blank"><code>@next/next/no-html-link-for-pages</code></a> </p><p><br></p><p>We get this error as <code>Link</code> component is needed to do client-side route transitions between pages and provide a single-page app experience. An <code>&lt;a&gt;</code> element was used to navigate to a page route without using the <code>next/link</code> component, causing unnecessary full-page refreshes which we don't want.</p><p><br></p><p>We are going to fix that in the upcoming lessons, but if you want to fix it now, you can use the following code:</p><pre class="prettyprint linenums">&lt;Link className={styles.logoLink} href="/"&gt; /** &lt;--- this is the Link component **/
  &lt;a&gt;
    &lt;div className={styles.logoWrapper}&gt;
      &lt;Image
        src="/static/netflix.svg"
        alt="Netflix logo"
        width="128px"
        height="34px"
      /&gt;
    &lt;/div&gt;
  &lt;/a&gt;
&lt;/Link&gt;</pre><p><br></p>