<p>In the upcoming lesson, Next.js might throw you a warning that you can't define async functions within a <code>useEffect</code> In order to fix this, you can do the following: </p><p><br></p><pre class="prettyprint linenums">useEffect(() =&gt; {
  async function getUsername() {
    try {
      const { email } = await magic.user.getMetadata();
      if (email) {
        console.log(email);
        setUsername(email);
      }
    } catch (error) {
      console.log("Error retrieving email:", error);
    }
  }
  getUsername();
}, []);</pre><p><br></p><p>thanks to <a href="https://www.udemy.com/user/yuksel-polat-akbiyiku/" rel="noopener noreferrer" target="_blank">Yüksel Polat Akbıyık</a> for noticing this and proposing a solution 👏</p>