<p>Hope you tried this fun exercise, and now it's time for the solution.</p><p><br></p><p><strong>Solution:</strong></p><p>Well, we would do exactly what we did on the home page. We will use SSR redirects to check if the <code>token</code> exists and if we have a <code>userId</code>. If we don't, redirect the user back to the login page.</p><p><a href="https://nextjs.org/docs/api-reference/data-fetching/get-server-side-props#redirect" rel="noopener noreferrer" target="_blank">Take a look at the docs</a></p><p><br></p><p><strong>Here is the code:</strong></p><pre class="prettyprint linenums">if (!userId) {
    return {
      props: {},
      redirect: {
        destination: "/login",
        permanent: false,
      },
    };
}</pre><p><br></p>