<p>We have provided a document that lists all the resources and links we have used in this course which will make life easier for you as you go through the course. You can download the attached PDF and use it as a reference for all the lessons.</p><p>Have fun! 💛</p>