<p>Please make sure that you set the perPage photos to be 30 instead of 10 so you can get a unique picture for all your coffee stores.</p><p><br></p><pre class="prettyprint linenums">const photos = await unsplashApi.search.getPhotos({
  query: "coffee shop",
  perPage: 30,
});</pre><p><br></p><p><br></p>