<p>Remember when I said <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/map" rel="noopener noreferrer" target="_blank">map function</a> has a 2nd parameter?&nbsp;well, it is index so we can use that to loop through photos. Here is the solution:</p><p><br></p><pre class="prettyprint linenums">return data.results.map((result, idx) =&gt; { //idx is index
    return {
      ...result,
      imgUrl: photos[idx], //photos is an array as well so we can loop here
    };
  });</pre><p>But we need to make sure that we retrieve as many photos as we have coffee stores. Otherwise, we will run into an error, for example, if we have 10 stores and only 4 photos then for idx 4, it will be photos[4], and since the array is 0 index based, we will not be able to access the 5th photo since we only have 4.</p><p><br></p>