<p><strong>Setup Fonts in Next.js</strong></p><p>There are several ways you can setup fonts in Next.js. </p><ol><li><p>You can choose to download those fonts, store them in your project and then apply those in your code.</p></li><li><p>You can download those directly from Google Fonts, set them inside _document.js without having to store them locally in your project for example,<a href="https://nextjs.org/docs/basic-features/font-optimization" rel="noopener noreferrer" target="_blank"> check the docs</a></p></li></ol><p>We go with approach 1 in this project and approach 2 in the Netflix Master Project. You can go with either way to store fonts based on your preference and the needs of your project.</p><p><strong>Please note</strong>, for <em>approach 1 </em>In order to make sure fonts get set correctly, you need to also use <code>@font-face</code> to apply those fonts correctly. For example,</p><p><br></p><pre class="prettyprint linenums">@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/IBMPlexSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/IBMPlexSans-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/IBMPlexSans-Bold.ttf) format('truetype');
}</pre><p>If you don't see fonts getting applied with this approach, then please clear your browser cache and see if it works. If for some reason it doesn't work, approach 2 as mentioned above is also a good approach.</p>