<p>There are new changes with Middleware with the latest version of Next.js. Here is a Github Pull Request with all the changes: <a href="https://github.com/kulkarniankita/discover-videos/pull/6" rel="noopener noreferrer" target="_blank">https://github.com/kulkarniankita/discover-videos/pull/6</a></p><p><br></p><p><strong>1. You will get </strong><code><strong>Unhandled Runtime Error</strong></code><strong> if you don't make the following changes.</strong></p><p>As mentioned in the <a href="https://nextjs.org/docs/messages/middleware-relative-urls" rel="noopener noreferrer" target="_blank">docs</a>,&nbsp; we are using a Middleware function that uses <code>Response.redirect(url), NextResponse.redirect(url) or NextResponse.rewrite(url)</code> where url is a relative or an invalid URL. </p><p>Prior to Next.js 12.1, Next.js allowed passing relative URLs. However, constructing a request with new Request(url) or running fetch(url) when url is a relative URL does not work anymore. For this reason and to bring consistency to Next.js Middleware, this behavior has been deprecated and now removed.</p><p>To fix this error you must always pass absolute URL for redirecting and rewriting. There are several ways to get the absolute URL but the recommended way is to clone NextURL and mutate it:</p><p><br></p><p><strong>Before:</strong></p><pre class="prettyprint linenums">if (!token &amp;&amp; pathname !== '/login') {
    return NextResponse.redirect('/login');
}
</pre><p><strong>After:</strong></p><pre class="prettyprint linenums">if ((!token || !userId) &amp;&amp; pathname !== "/login") {
    const url = req.nextUrl.clone();
    url.pathname = "/login";
    return NextResponse.rewrite(url);
  }</pre><p><br></p><p><strong>2. Dynamic Code Evaluation (e. g. 'eval', 'new Function') not allowed in Middleware pages/_middleware</strong></p><p><br>You will notice an error like below:</p><pre class="prettyprint linenums">./node_modules/function-bind/implementation.js
Dynamic Code Evaluation (e. g. 'eval', 'new Function') not allowed in Middleware pages/_middleware
</pre><p>and when you run development server, an error like this:<br></p><p><a href="https://nextjs.org/docs/api-reference/edge-runtime#unsupported-apis" rel="noopener noreferrer" target="_blank">As per docs</a>, this is because the Edge Runtime has some restrictions including: Native Node.js APIs are not supported. For example, you can't read or write to the filesystem. Now, we are not using anything directly but are using a module <code>[jsonwebtoken](https://www.npmjs.com/package/jsonwebtoken)</code> that uses <code>crypto</code> module that does violate this requirement.</p><p>To fix this, we should use another package like <code>[jose](https://www.npmjs.com/package/jose)</code> in middleware to verify the token. Jose is as popular as jsonwebtoken and is a great package to do the same.</p><p><strong>Before:</strong></p><pre class="prettyprint linenums">import jwt from "jsonwebtoken";

if (token) {
    const decodedToken = jwt.verify(token, process.env.JWT_SECRET);

    const userId = decodedToken?.issuer;
    return userId;
}
return null;
</pre><p><strong>After:</strong></p><pre class="prettyprint linenums">import { jwtVerify } from "jose";

try {
    if (token) {
      const verified = await jwtVerify(
        token,
        new TextEncoder().encode(process.env.JWT_SECRET)
      );
      return verified.payload &amp;&amp; verified.payload?.issuer;
    }
    return null;
  } catch (err) {
    console.error({ err });
    return null;
  }
</pre><p>Hope this helps!</p><p><br></p><p>Good Luck!</p>