<h4><strong>Problem</strong></h4><p>If you are using React 18, you will notice that coffee stores are getting created 2 times in Airtable.</p><p><br></p><h4><strong>Reasoning:</strong></h4><p>This is because in <code>next.config.js</code>, we have <code>reactStrictMode: true</code> enabled. </p><p>This enables React Strict Mode. You can read about it here: <a href="https://reactjs.org/blog/2022/03/29/react-v18.html#new-strict-mode-behaviors" rel="noopener noreferrer" target="_blank">https://reactjs.org/blog/2022/03/29/react-v18.html#new-strict-mode-behaviors</a> and this is a known issue with Next and React:</p><p><a href="https://github.com/vercel/next.js/issues/35822" rel="noopener noreferrer" target="_blank">https://github.com/vercel/next.js/issues/35822</a><br></p><p>Before this change, React would mount the component and create the effects:</p><pre class="prettyprint linenums">* React mounts the component.
  * Layout effects are created.
  * Effects are created.</pre><p>With Strict Mode in React 18, React will simulate unmounting and remounting the component in development mode:</p><pre class="prettyprint linenums">* React mounts the component.
  * Layout effects are created.
  * Effects are created.
* React simulates unmounting the component.
  * Layout effects are destroyed.
  * Effects are destroyed.
* React simulates mounting the component with the previous state.
  * Layout effects are created.
  * Effects are created.</pre><p><br></p><p>You are seeing 2 coffee stores created as your page is getting unmounted and remounted twice. </p><h4><strong>Solution:</strong></h4><p>If you turn off <code>reactStrictMode: false</code> and restart your server, you will only see coffee store getting created once or you can live with it knowing this is react 18 issue.</p>